#
# gitignore
#

*~

# Compiled Object files
*.slo
*.lo
*.o

**/resources.c
**/*.tgz
**/*.gz
**/*.zip
**/*.bak
**/*.trc
**/*.log
**/cmp_time.*
\#*\#

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.ao

exe/*.cfg.*

exe/display
exe/main
exe/printlabel
exe/settori
exe/sock
exe/volum
!backup/dati_prod_sap.dump.gz