#-------------------------------------------------------
# colli_bertello_r.cfg
# dati di configurazione per l'archivio 
# Colli Bertello R
# Data di Creazione: 18-05-2024
#
# Roberto Mantovani - Giacomo Mirandola
# Copyright A&L srl 2024
#-------------------------------------------------------
# NOTA: - il secondo valore del campo chiave identifica
#         se la chiave e' unica (=1) o no (=0) 
#-------------------------------------------------------
[General Settings]
DataBaseName=sap
TableName=colli_bertello_r
FieldsNumber=11
TagsNumber=1
RecordTypePos=11
RecordTypeLen=1
RecordType=R

[Tags]
Tag_00=KEY,1,ROTRORD+ORDPROG+CPNMCOL

[Fields]
Field_00=ROTRORD, C, 10, 0, 7, Transfer order B R C, Transfer order B R C
Field_01=ROTPORD, C,  1, 0, 7, Order type (B/R/C) B R C, Order type (B/R/C) B R C
Field_02=ORDPROG, C, 10, 0, 7, Numero Ordine,Progressivo Ordine
Field_03=CPNMCOL, N,  6, 0, 7, Numero Collo,Numero Collo
Field_04=CPNMRGH, N,  6, 0, 7, Numero Righe,Numero Righe
Field_05=CPNMCPE, N,  6, 0, 7, Numero Copie,Numero Copie
Field_06=CPPSPRE, N,  6, 0, 7, Peso Calcolato,Peso Calcolato
Field_07=CPTPFOR, C, 18, 0, 7, formato,formato 
Field_08=CPPRGCL, C,  7, 0, 7, Progressivo collo,Progressivo collo
Field_09=CPTMRCZ, D, 14, 0, 3, Data/Ora Ricezione,Data/Ora Ricezione
Field_10=CPSTATO, C,  1, 0, 3, Stato Collo,Stato Collo


